
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: Consolas, Courier;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

/*max usable width is 650px*/
img {
    width: 100%;
}

header, footer, hgroup, nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
    margin: 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 980px;
}

#body {
    clear: both;
}

.main-content {
    background-color: slateblue;
    margin-bottom: 3em;
    padding-bottom: 1em;
}

footer {
    clear: both;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: darkorange;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
    margin-bottom: 0.3em;
    text-shadow: 0px 0px 2px orangered, 0px 0px 20px gold;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: darkorange;
        outline: none;
        text-decoration: none;
    }

/*body div*/
.contentDiv {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    background-color: ivory;
    margin: 0.5em;
    padding-bottom: 2em;
    max-width: 650px;
    width: 650px;
    margin-left: calc((100% - 710px) / 2);
    font-size: 1.125rem;
    line-height: 1.5625rem;
    min-height: 300px;
}

    .contentDiv th {
        padding-right: 0.75em;
    }

/* page elements
----------------------------------------------------------*/
/* featured */

    .featured .content-wrapper {
        background-color: darkslateblue;
        color: #3e5667;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .featured hgroup.title h1, .featured hgroup.title h2 {
        color: #4c4c4c;
    }

    .featured p {
        font-size: 1.1em;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* content */
article {
    float: left;
    width: 95%;
}



/* =================== PAGE ========================*/
body {
    background-color: midnightblue;
    padding-top: 1em;
    z-index: -2;
    position: relative;
}

#content {
    width: 640px;
    margin: 0 auto;
    z-index: 1;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslateblue;
    user-select: none;
    margin-left: 1em;
}

.navbar li {
    float: left;
}

    .navbar li a {
        display: block;
        color: gold;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.2rem;
    }

        /* Change the link color to #111 (black) on hover */
        .navbar li a:hover:not(.active) {
            text-shadow: 0px 0px 2px orangered, 0px 0px 10px gold;
        }

        .navbar li a.active {
            color: gold;
            text-shadow: 0px 0px 2px orangered, 0px 0px 20px gold;
        }


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 800px) {

    /* header
            ----------------------------------------------------------*/
    header .float-left, header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* main layout
            ----------------------------------------------------------*/
    .main-content, .featured + .main-content {
        background-position: 10px 0;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    .contentDiv {
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 15px;
        padding-right: 15px;
        width: calc(100% - 40px);
        font-size: 1rem;
        line-height: 1.25rem;
    }


    /* footer
            ----------------------------------------------------------*/
    footer .float-left, footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
